*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.site-header{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    -webkit-transition: margin-left 0.5s;
    -moz-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
}

.nav-button{
    float: left;
    transition: 0.5s;
}

.nav-button:hover{
    cursor: pointer;
}

.container{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    overflow-x: hidden;
}

main{
    padding: 20px;
}
.side-nav{
    width: 0px;
    position: fixed;
    height: 100%;
    top:0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition:  0.5s;
    -moz-transition:  0.5s;
    transition:  0.5s;
}

.menu-list{
    list-style-type: none;
}
.menu-item{
    padding: 10px;
    display: block;
    background-color: #000;
    color: #818181;
    font-size: 24px;
    transition: 0.5s;
}

.menu-item:hover{
    color: white;
    cursor: pointer;
}

#close-btn{
    font-size: 36px;
    color:  #818181;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
    -webkit-transition:  0.5s;
    -moz-transition:  0.5s;
    transition:  0.5s;
}

#close-btn:hover{
    color: white;
    cursor: pointer;
}