*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.site-header{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.nav-button{
    float: left;
}

.nav-button:hover{
    cursor: pointer;
}

.side-nav{
    list-style-type: none;
    width: 100px;
}

.menu-item{
    padding: 10px;
    display: block;
    background-color: #000;
    color: white;
    /* border: 1px solid white; */
}

.menu-item:hover{
    background-color: #545FEB;
    cursor: pointer;
}